@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes floater {
    0% {
        transition: ease 0.5s;
        transform: translateY(-2px);
    }
    50% {
        transition: ease 0.5s;
        transform: translateY(10px);
    }
    100% {
        transition: ease 0.5s;
        transform: translateY(-2px);
    }
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    background-color: #02140f;
    color: #17e8b7;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: #caffef;
    font-weight: bold;
    font-size: 36px;
}

.logo {
    margin: 0px 0px 38px 0px;
    animation: floater 6s infinite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper .inner-wrapper {
    margin-bottom: 20px;
}

.inner-wrapper .section {
    margin: 0px 0px 14px 0px;
}

.inner-wrapper .section-end {
    margin: 0px 0px 42px 0px;
}

.button {
    margin-right: 9px;
}

.button img {
    height: 42px;
    width: 42px;

    transform: scale(1);
    transition: 0.3s ease-in-out;
    transition-property: transform;

    &:hover {
        transform: scale(1.2);
    }
}
